/* App.css */

/* Center the page content */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  max-width: 600px; /* Adjust as needed */
  padding: 0 20px; /* Add padding to the container */
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.button {
  background-color: #3490dc;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 999px;
  outline: none;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.3s ease;
  margin-bottom: 10px; /* Add margin between buttons */
}

.button:hover {
  background-color: #2779bd;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px; /* Add margin between textarea and button */
}

.submit-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #45a049;
}
